<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gym Tracker Core iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Gym Tracker Core watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Gym Tracker Notifications.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Gym Tracker watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Gym Tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A2E10211FBDCC6F004767D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4539C21E75CFC200AD0215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A568AD42124183C00116EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A568AE521241AB200116EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AB69FB5212335620053E259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AC705E6210F3A1D003E4DF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ACF6D801E802FD200579B67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
